@using Microsoft.AspNetCore.Components
@using System.Diagnostics
@using Senserpage.Data

@inject Senserpage.Data.IGoods goods

<div class="row goodposition">
    @if(Position == "left")
    {
        <div class="col">
            <div class="pull-right">
                <div class="text-left">
                    <div class="fontSize24"><b>@Name</b></div>

                    @if (PriceAction == 0)
                    {
                        <div class="fontSize24"><span class="pricegreen">@Price</span> грн.</div>
                    }
                    else
                    {
                        <div class="fontSize24">
                            <span class="pricegreen" style="text-decoration:line-through;">@Price</span>
                            <span class="pricegreen">@PriceAction</span> грн.
                        </div>
                    }
                    <div>
                        <ul>
                                    @for (int i = 0; i < Attributes.Count; i++)
                                    {
                                        <li>@Attributes[i]</li>
                                    }
                         </ul>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" @onclick="OpenModal">
                        <i class="fa fa-shopping-cart" aria-hidden="true">
                        </i> <span>Купити</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
            <Photo Width="400px" Link="@MainImageSmall" OnClick="@(() => ShowBigPhoto(MainImage, ImageLinks))">                
            </Photo>
            </div>
            <div class="text-center">
                @if (ImageLinksSmall != null)
                {
                    @for (int i = 0; i < ImageLinksSmall.Count; i++)
                    {
                        if (MainImageSmall != ImageLinksSmall[i])
                        {
                            var strLink = ImageLinks[i];
                            <Photo Width="100px" Link="@ImageLinksSmall[i]" OnClick="@(() => ShowBigPhoto(strLink, ImageLinks))"></Photo>
                        }
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="text-center">
            <Photo Width="400px" Link="@MainImageSmall" OnClick="@(() => ShowBigPhoto(MainImage, ImageLinks))">                
            </Photo>
            </div>
            <div class="text-center">
                @if (ImageLinksSmall != null)
                {
                    @for (int i = 0; i < ImageLinksSmall.Count; i++)
                    {
                        if (MainImageSmall != ImageLinksSmall[i])
                        {
                            var strLink = ImageLinks[i];
                            <Photo Width="100px" Link="@ImageLinksSmall[i]" OnClick="@(() => ShowBigPhoto(strLink, ImageLinks))"></Photo>
                        }
                    }
                }
            </div>
        </div>
        <div class="col">
            <div class="pull-left">
                <div class="text-left">
                    <div class="fontSize24"><b>@Name</b></div>
                    @if (PriceAction == 0)
                    {
                        <div class="fontSize24"><span class="pricegreen">@Price</span> грн.</div>
                    }
                    else
                    {
                        <div class="fontSize24">
                            <span class="pricegreen" style="text-decoration:line-through;">@Price</span>
                            <span class="pricegreen">@PriceAction</span> грн.
                        </div>
                    }
                    <div>
                        <ul>
                            @for (int i = 0; i < Attributes.Count; i++)
                            {
                                <li>@Attributes[i]</li>
                            }
                        </ul>
                    </div>
                </div>            
            <div>
                <button class="btn btn-primary" @onclick="OpenModal">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
                <span>Купити</span>
                </button>
            </div> 
            </div>
        </div>
    }    
</div>

<ModalPhoto DoIsOpened="@ShowPhotos" IsOpened="@ShowPhoto" Link="@LinkPhoto" Links="@LinkPhotos">
    <ModalBody>
        <button class="btn btn-primary" @onclick="ShowPhotos">Закрити</button>    
    </ModalBody>
</ModalPhoto>

<ModalPopUp Title="Інфо" IsOpened="@IsOpened" DoIsOpened="@CloseModal" NameGood="@Name" PriceGood="@Price" LinkGood="@MainImage" >
    <ModalBody>
        <h4>Товар @Name доданий до кошика.</h4>
        @if (PriceAction == 0)
        {
            <h4>Ціна @Price грн.</h4>
        }
        else
        {
            <h4>Ціна @PriceAction грн.</h4>
        }

    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModal">Закрити</button>
    </ModalFooter>
</ModalPopUp>

@code {
    [Parameter]
    public string Position { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public decimal Price { get; set; }
    [Parameter]
    public decimal PriceAction { get; set; }
    [Parameter]
    public List<string> Attributes { get; set; }
    [Parameter]
    public List<string> ImageLinks { get; set; }
    [Parameter]
    public List<string> ImageLinksSmall { get; set; }

    string MainImage { get; set; }
    string MainImageSmall { get; set; }

    protected override void OnParametersSet()
    {
        MainImage = ImageLinks?.Count > 0 ? ImageLinks[0] ?? "" : "";
        MainImageSmall = ImageLinksSmall?.Count > 0 ? ImageLinksSmall[0] ?? "" : "";
    }

    [Parameter]
    public bool IsOpened { get; set; }

    void OpenModal()
    {
        var g = Senserpage.Data.Goods.CartGoods.Any(r => r.Name == Name);
        if (g)
        {
            for (int i = 0; i < Senserpage.Data.Goods.CartGoods.Count; i++)
            {
                if (Senserpage.Data.Goods.CartGoods[i].Name == Name)
                {
                    Senserpage.Data.Goods.CartGoods[i].Number++;
                }
            }
        }
        else
        {
            Senserpage.Data.Goods.CartGoods.Add(new CartGood()
            {
                Name = Name,
                Price = Price,
                PriceAction = PriceAction,
                PhotoLink = MainImage,
                Number = 1
            });
        }
        IsOpened = true;
    }

    void CloseModal()
    {
        IsOpened = false;
    }

    [Parameter]
    public bool ShowPhoto { get; set; }

    [Parameter]
    public string LinkPhoto { get; set; }

    public List<string> LinkPhotos { get; set; }

    void ShowBigPhoto(string link, List<string> list)
    {
        Debug.WriteLine($"Logging: {link}");
        LinkPhoto = link;
        LinkPhotos = list;
        ShowPhoto = true;
    }

    void ShowPhotos()
    {
        ShowPhoto = false;
    }

    void ShowCart()
    {
        CloseModal();
    }
}
