@using Microsoft.AspNetCore.Components
@using System.Diagnostics
@using Senserpage.Data

@inject Senserpage.Data.IGoods goods

<div class="row goodposition">
    @if(Position == "left")
    {
        <div class="col">
            <div class="pull-right">
            <div class="text-left">
                <div><b>@Name</b></div>
                <div><span class="pricegreen">@Price</span> грн.</div>
                <div>
                    <ul>
                    @for(int i = 0; i < Attributes.Count; i++)
                    {
                        <li>@Attributes[i]</li>
                    }
                    </ul>
                </div>
            </div>            
            <div>
                <button class="btn btn-primary" @onclick="OpenModal">
                <i class="fa fa-shopping-cart" aria-hidden="true">
                </i> <span>Купить</span>
                </button>                
            </div> 
            </div>
        </div>
        <div class="col">
            <div class="text-center">
            <Photo Width="400px" Link="@MainImage" OnClick="@(() => ShowBigPhoto(MainImage, ImageLinks))">                
            </Photo>
            </div>
            <div class="text-center">
            @for(int i = 0; i < ImageLinks.Count; i++)
            {
                if(MainImage != ImageLinks[i])
                {
                    var strLink = ImageLinks[i];
                    <Photo Width="100px" Link="@ImageLinks[i]" OnClick="@(() => ShowBigPhoto(strLink, ImageLinks))"></Photo>
                }
            }
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="text-center">
            <Photo Width="400px" Link="@MainImage" OnClick="@(() => ShowBigPhoto(MainImage, ImageLinks))">                
            </Photo>
            </div>
            <div class="text-center">
            @for(int i = 0; i < ImageLinks.Count; i++)
            {
                if(MainImage != ImageLinks[i])
                {
                    var strLink = ImageLinks[i];
                    <Photo Width="100px" Link="@ImageLinks[i]" OnClick="@(() => ShowBigPhoto(strLink, ImageLinks))"></Photo>
                }
            }
            </div>
        </div>
        <div class="col">
            <div class="pull-left">
            <div class="text-left">
                <div><b>@Name</b></div>
                <div><span class="pricegreen">@Price</span> грн.</div>
                <div>
                    <ul>
                    @for(int i = 0; i < Attributes.Count; i++)
                    {
                        <li>@Attributes[i]</li>
                    }
                    </ul>
                </div>
            </div>            
            <div>
                <button class="btn btn-primary" @onclick="OpenModal">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
                <span>Купить</span>
                </button>
            </div> 
            </div>
        </div>
    }    
</div>

<ModalPhoto DoIsOpened="@ShowPhotos" IsOpened="@ShowPhoto" Link="@LinkPhoto" Links="@LinkPhotos">
    <ModalBody>
        <button class="btn btn-primary" @onclick="ShowPhotos">Закрыть</button>    
    </ModalBody>
</ModalPhoto>

<ModalPopUp Title="Инфо" IsOpened="@IsOpened" DoIsOpened="@CloseModal" NameGood="@Name" PriceGood="@Price" LinkGood="@MainImage" >
    <ModalBody>
        <h4>Товар @Name добавлен в корзину.</h4>
        <h4>Цена товара @Price грн.</h4>
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModal">Закрыть</button>
    </ModalFooter>
</ModalPopUp>

@code {
    [Parameter]
    public string Position { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public decimal Price { get; set; }
    [Parameter]
    public List<string> Attributes { get; set; }
    [Parameter]
    public List<string> ImageLinks { get; set; }

    string MainImage { get; set; }

    protected override void OnParametersSet()
    {
        MainImage = ImageLinks.Count > 0 ? ImageLinks[0] : "";
    }

    [Parameter]
    public bool IsOpened { get; set; }

    void OpenModal()
    {
        IsOpened = true; 
    }

    void CloseModal()
    {        
        IsOpened = false; 
    }

    [Parameter]
    public bool ShowPhoto { get; set; }

    [Parameter]
    public string LinkPhoto { get; set; }

    public List<string> LinkPhotos { get; set; }

    void ShowBigPhoto(string link, List<string> list)
    {
        Debug.WriteLine($"Logging: {link}");
        LinkPhoto = link;
        LinkPhotos = list;
        ShowPhoto = true;
    }

    void ShowPhotos()
    {
        ShowPhoto = false;
    }

    void ShowCart()
    {
        CloseModal();
    }
}
