@using Microsoft.AspNetCore.Components
@using Newtonsoft.Json
@using Senserpage.Models
@inject Senserpage.Data.IGoods goods
@using System.Net.Http
@inject HttpClient httpClient
@using System.Text
@inject NavigationManager navigator

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand"><span style="color: rgb(235, 235, 235);"><b>SEN</b></span><span style="color: rgb(0, 114, 188);"><b>SER</b></span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#senserfooter">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" @onclick="OpenModal">Оплата и доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#ourgoods">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" @onclick="OpenModalCart">Корзина</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" @onclick="OpenModalCall">Заказать звонок</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div>
            <table class="container-fluid upperImage" cellpadding="5" cellspacing="0">
                <tr class="shadow">
                    <td>
                        <div class="textBlock">
                            <div class="textSpan fontSize56">
                                <strong>
                                    <span style="color: rgb(235, 235, 235);"><b>SEN</b></span><span style="color: rgb(0, 114, 188);"><b>SER</b></span>
                                </strong>
                            </div>
                            <div class="textSpan fontSize32">
                                <em><b>Электрические печи</b></em>
                            </div>
                            <div class="textSpan fontSize24">
                                <em>Турецкое качество</em>
                            </div>
                            <div class="textSpan fontSize24">
                                <em>Лучшие товары для вашего дома</em>
                            </div>                    
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <div class="commonText">
                <div class="textSpan fontSize20">
                    <em>Электрические печи нового Турецкого бренда SENSER обладают высоким качеством и выполнены в современном дизайне.</em>
                </div>
                <div class="textSpan fontSize20">
                    <em>Это незаменимые помощники на вашей кухне в загородном доме и, особенно, на даче.</em>
                </div>
                <div class="textSpan fontSize20">
                    <em>Благодаря последним техническим решениям в сочетании с простотой в эксплуатации,</em>
                </div>
                <div class="textSpan fontSize20">
                    <em>печи удовлетворят даже самых требовательных потребителей.</em>
                </div>
                <div class="textSpan fontSize20">
                    <em>Электрические печи SENSER - это легкость в эксплуатации с неизменно отличным результатом:</em>
                </div>
                <div class="textSpan fontSize20">
                    <em>ваша выпечка будет радовать близких, а приготовленные блюда вызывать восхищение.</em>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"> 
            <div class="emptydiv">
            </div>
        </div>
    </div>
    <div class="row" id="ourgoods">
        <div class="col">   
            <div class="textSpanBlue fontSize24">
                <em>Электрические настольные печи SENSER</em>
            </div>
        </div>
    </div>
    @for(int i = 0; i < Goods.Count; i++)
    {
        var position = i % 2 == 0 ? "right" : "left";
    <Good Position="@position" Name="@Goods[i].Name" Price="@Goods[i].Price" Attributes="@Goods[i].Attributes" ImageLinks="@Goods[i].ImageLinks" ></Good>

    <div class="emptydiv"></div>
    }
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
    @*<header>*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand"><span style="color: rgb(235, 235, 235);"><b>SEN</b></span><span style="color: rgb(0, 114, 188);"><b>SER</b></span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#senserfooter">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" @onclick="OpenModal">Оплата и доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#ourgoods">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" @onclick="OpenModalCart">Корзина</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#" @onclick="OpenModalCall">Заказать звонок</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    @*</header>*@
</div>
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="row">
        <div id="senserfooter" class="col">
    @*<footer id="senserfooter" class="border-top footer text-muted">*@
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center bg-dark">
            @*<a class="nav-link text-white">SENSER</a>*@
            <a class="nav-link text-white">г. Киев; ул. Мурманская, 3</a>
            <a class="nav-link text-white" href="mailto:sensershops@gmail.com?subject=Senser">sensershops@gmail.com</a>
            <a class="nav-link text-white" href="tel:380991644955">+38(099)164-49-55</a>
        </div>
    @*</footer>*@
        </div>
    </div>
</div>

<CartModal Title="Корзина" IsOpened="@CartOpened" DoIsOpened="@CloseModalCart">
    <ModalBody>
            <table class="container-fluid" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <td class="textSpan fontSize20">Фото</td>
                        <td class="textSpan fontSize20">Наименование</td>
                        <td class="textSpan fontSize20">Цена</td>
                        <td class="textSpan fontSize20">Количество</td>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Senserpage.Data.Goods.CartGoods.Count; i++)
                    {
                        var good = Senserpage.Data.Goods.CartGoods[i];
                    <tr>
                        <td><img width="100px" src="@good.PhotoLink"/></td>
                        <td class="textSpan fontSize20"><span>@good.Name</span></td>
                        <td class="textSpan fontSize20"><span>@good.Price грн.</span></td>
                        <td class="textSpan fontSize20"><span>@good.Number</span></td>
                    </tr>
                    }
                </tbody>
            </table>
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModalCart">Закрыть</button>
        <button class="btn btn-primary" @onclick="CloseModalCart">Оформить</button>
    </ModalFooter>
</CartModal>

<ModalCommon Title="Оплата и доставка" IsOpened="IsOpened" DoIsOpened="@CloseModal">
    <ModalBody>
        <p>
            - Доставка по Украине осуществляется перевозчиком "МистЭкспресс" (за ваш счёт) на отделение в вашем городе или адресно с оформлением наложенного платежа. Средний тариф доставки по Украине 80-100 грн
        </p>
        <p>
            - В случае 100% предоплаты за товар доставка выполняется полностью за счёт отправителя. Оплата за товар, в таком случае, возможна на карту "ПриватБанка" либо "МоноБанка".
        </p>
        <p>
            - При оформлении наложенного платежа - предоплата за товар 150 грн (сумма наложенного платежа, в таком случае, уменьшается).
        </p>
        <p>
            - Расчёт за товар происходит после осмотра товара на складе "МистЭкспресса" либо с курьером службы доставки (в случае адресной доставки).
        </p>
        <p>
            - Товар на 100% застрахован. В случае обнаружения механических повреждений при осмотре товара, вы оставляете товар у перевозчика и вам возвращается предоплата за товар в полном размере.
        </p>
        <p>
            - Обращаем ваше внимание на то, что за перевод денег (наложенный платёж) перевозчик берёт комиссию в размере: 2% от суммы перевода + 20 грн
        </p>
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModal">Закрыть</button>
    </ModalFooter>
</ModalCommon>

<CallmeModal Title="Закажите обратный звонок!" IsOpened="CallOpened" DoIsOpened="@CloseModalCall">
    <ModalBody>
        @*<div>@Output</div>
        <div>@Request</div>*@
        <EditForm Model="@callMeForm" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText id="name" @bind-Value="callMeForm.Name" placeholder="Имя"/>
            <InputText id="phone" @bind-Value="callMeForm.Phone" placeholder="Телефон"/>

            <button class="btn btn-primary" type="submit">Позвоните мне</button>
        </EditForm>
    </ModalBody>
    <ModalFooter>
        <div>@Sent</div>
        <button class="btn btn-primary" @onclick="CloseModalCall">Закрыть</button>
    </ModalFooter>
</CallmeModal>

@code {
    public List<Models.Good> Goods { get; set; }

    protected override void OnParametersSet()
    {
        BaseUri = navigator.BaseUri;
        Goods = goods.GetGoods();
    }

    public bool IsOpened { get; set; }

    void OpenModal()
    {
        IsOpened = true; 
    }

    void CloseModal()
    {        
        IsOpened = false; 
    }

    public bool CartOpened { get; set; }

    void OpenModalCart()
    {
        CartOpened = true; 
    }

    void CloseModalCart()
    {        
        CartOpened = false; 
    }

    public bool CallOpened { get; set; }

    void OpenModalCall()
    {
        Sent = null;
        CallOpened = true; 
    }

    void CloseModalCall()
    {        
        Sent = null;
        CallOpened = false; 
    }

    private string Output { get; set; }
    private string Request { get; set; }

    private string BaseUri { get; set; }

    private CallMeForm callMeForm = new CallMeForm();

    private string Sent { get; set; }

    public async Task HandleValidSubmit()
    {
        Sent = null;
        if (httpClient != null)
        {
            await Task.Delay(1);
            @*string output = JsonConvert.SerializeObject(callMeForm);
            var httpContent = new StringContent(output, Encoding.UTF8, "application/json");
            var baseaddress = navigator.BaseUri; // "https://localhost:44370/SendEmail"
            var responsePost = await httpClient.PostAsync(navigator.BaseUri, httpContent);
            var resultPost = await responsePost.Content.ReadAsStringAsync();*@

            string output = JsonConvert.SerializeObject(callMeForm);
            Output = output;
            var requeststring = navigator.BaseUri + "SendEmail?input=" + output;
            Request = requeststring;
            var responseGet = await httpClient.GetAsync(requeststring); 
            if(responseGet.IsSuccessStatusCode)
            {
                Sent = "Сообщение отправлено.";
            }
            else
            {
                Sent = "Сообщение не отправлено.";
            }

            @*string output = JsonConvert.SerializeObject(callMeForm);
            HttpRequestMessage requestMessage = new HttpRequestMessage(HttpMethod.Post, "https://localhost:44370/SendEmail");
            //requestMessage.Headers.Add("Authorization", "key=AAAAG...:APA91bH7U...");
            requestMessage.Content = new StringContent(output, Encoding.UTF8, "application/json");

            HttpResponseMessage response = await httpClient.SendAsync(requestMessage);*@
        }
    }
}
