@using Senserpage.Data
@inject Senserpage.Data.IGoods goods

<div class="container-fluid">
    <div class="row">
        <div class="col">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"><span style="color: rgb(235, 235, 235);"><b>SEN</b></span><span style="color: rgb(0, 114, 188);"><b>SER</b></span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#senserfooter">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" @onclick="OpenModal">Оплата и доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#ourgoods">Товары</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div>
            <table class="container-fluid upperImage" cellpadding="5" cellspacing="0">
                <tr class="shadow">
                    <td>
                        <div class="textBlock">
                            <div class="textSpan fontSize56">
                                <strong>
                                    <span style="color: rgb(235, 235, 235);"><b>SEN</b></span><span style="color: rgb(0, 114, 188);"><b>SER</b></span>
                                </strong>
                            </div>
                            <div class="textSpan fontSize32">
                                <em><b>Электрические печи</b></em>
                            </div>
                            <div class="textSpan fontSize24">
                                <em>Турецкое качество</em>
                            </div>
                            <div class="textSpan fontSize24">
                                <em>Лучшие товары для вашего дома</em>
                            </div>                    
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <div class="commonText">
                <div class="textSpan fontSize24">
                    <em>Электрические печи нового Турецкого бренда SENSER обладают высоким качеством и выполнены в современном дизайне.</em>
                </div>
                <div class="textSpan fontSize24">
                    <em>Это незаменимые помощники на вашей кухне в загородном доме и, особенно, на даче.</em>
                </div>
                <div class="textSpan fontSize24">
                    <em>Благодаря последним техническим решениям в сочетании с простотой в эксплуатации,</em>
                </div>
                <div class="textSpan fontSize24">
                    <em>печи удовлетворят даже самых требовательных потребителей.</em>
                </div>
                <div class="textSpan fontSize24">
                    <em>Электрические печи SENSER - это легкость в эксплуатации с неизменно отличным результатом:</em>
                </div>
                <div class="textSpan fontSize24">
                    <em>ваша выпечка будет радовать близких, а приготовленные блюда вызывать восхищение.</em>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"> 
            <div class="emptydiv">
            </div>
        </div>
    </div>
    <div class="row" id="ourgoods">
        <div class="col">   
            <div class="textSpanBlue fontSize24">
                <em>Электрические настольные печи SENSER</em>
            </div>
        </div>
    </div>
    @for(int i = 0; i < Goods.Count; i++)
    {
        var position = i % 2 == 0 ? "right" : "left";
    <Good Position="@position" Name="@Goods[i].Name" Price="@Goods[i].Price" Attributes="@Goods[i].Attributes" ImageLinks="@Goods[i].ImageLinks" ></Good>

    <div class="emptydiv"></div>
    }
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
    @*<header>*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"><span style="color: rgb(235, 235, 235);"><b>SEN</b></span><span style="color: rgb(0, 114, 188);"><b>SER</b></span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#senserfooter">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" @onclick="OpenModal">Оплата и доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#ourgoods">Товары</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    @*</header>*@
</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="senserfooter" class="col">
    @*<footer id="senserfooter" class="border-top footer text-muted">*@
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <a class="nav-link text-dark">SENSER</a>
            <a class="nav-link text-dark">г. Киев; ул. Мурманская, 3</a>
            <a class="nav-link text-dark" href="mailto:sensershops@gmail.com?subject=Senser">sensershops@gmail.com</a>
            <a class="nav-link text-dark" href="tel:380991644955">+38(099)164-49-55</a>
        </div>
    @*</footer>*@
        </div>
    </div>
</div>

<CartModal Title="Корзина" IsOpened="@CartOpened" DoIsOpened="@CloseModalCart">
    <ModalBody>
            <table class="container-fluid" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <td class="textSpan fontSize20">Фото</td>
                        <td class="textSpan fontSize20">Наименование</td>
                        <td class="textSpan fontSize20">Цена</td>
                        <td class="textSpan fontSize20">Количество</td>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Senserpage.Data.Goods.CartGoods.Count; i++)
                    {
                        var good = Senserpage.Data.Goods.CartGoods[i];
                    <tr>
                        <td><img width="100px" src="@good.PhotoLink"/></td>
                        <td class="textSpan fontSize20"><span>@good.Name</span></td>
                        <td class="textSpan fontSize20"><span>@good.Price грн.</span></td>
                        <td class="textSpan fontSize20"><span>@good.Number</span></td>
                    </tr>
                    }
                </tbody>
            </table>
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModalCart">Закрыть</button>
        <button class="btn btn-primary" @onclick="CloseModalCart">Оформить</button>
    </ModalFooter>
</CartModal>

<ModalCommon Title="Оплата и доставка" IsOpened="IsOpened" DoIsOpened="@CloseModal">
    <ModalBody>
        <p>
            - Доставка по Украине осуществляется перевозчиком "МистЭкспресс" (за ваш счёт) на отделение в вашем городе или адресно с оформлением наложенного платежа. Средний тариф доставки по Украине 80-100 грн
        </p>
        <p>
            - В случае 100% предоплаты за товар доставка выполняется полностью за счёт отправителя. Оплата за товар, в таком случае, возможна на карту "ПриватБанка" либо "МоноБанка".
        </p>
        <p>
            - При оформлении наложенного платежа - предоплата за товар 150 грн (сумма наложенного платежа, в таком случае, уменьшается).
        </p>
        <p>
            - Расчёт за товар происходит после осмотра товара на складе "МистЭкспресса" либо с курьером службы доставки (в случае адресной доставки).
        </p>
        <p>
            - Товар на 100% застрахован. В случае обнаружения механических повреждений при осмотре товара, вы оставляете товар у перевозчика и вам возвращается предоплата за товар в полном размере.
        </p>
        <p>
            - Обращаем ваше внимание на то, что за перевод денег (наложенный платёж) перевозчик берёт комиссию в размере: 2% от суммы перевода + 20 грн
        </p>
    </ModalBody>
    <ModalFooter>
        <button class="btn btn-primary" @onclick="CloseModal">Закрыть</button>
    </ModalFooter>
</ModalCommon>

@code {
    public List<Models.Good> Goods { get; set; }

    protected override void OnParametersSet()
    {
        Goods = goods.GetGoods();
    }

    public bool IsOpened { get; set; }

    void OpenModal()
    {
        IsOpened = true; 
    }

    void CloseModal()
    {        
        IsOpened = false; 
    }

    public bool CartOpened { get; set; }

    void OpenModalCart()
    {
        CartOpened = true; 
    }

    void CloseModalCart()
    {        
        CartOpened = false; 
    }
}
